* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
}

body {
  width: 100%;
  background-color: #e2e8f0;
}

#root {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.App {
  border: 1px solid whitesmoke;
  padding: 5px 10px;
  border-radius: 5px;
}

.Header h1 {
  margin: 0px 0px 10px 0px;
}

.Task {
  background-color: whitesmoke;
  margin: 10px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  position: relative;
}

.Task h3 {
  margin: 0px 10px;
}

.Task p {
  margin: 0px;
}

.Task-starred {
  border-left: 10px solid #ffc107;
}

.Task-times {
  position: absolute;
  top: 18px;
  right: 10px;
}