* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
}

body {
  width: 100%;
  background-color: #e2e8f0;
}

#root {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.App {
  border: 1px solid whitesmoke;
  padding: 5px 10px;
}

.Header h1 {
  margin: 0px 0px 10px 0px;
}

.Task {
  margin: 10px 0px;
  padding: 5px 10px;  
  cursor: pointer;
  position: relative;
}

.Task h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.Task p {
  margin: 5px;
  font-size: 14px;
}


.Task-times {
  position: absolute;
  top: 18px;
  right: 10px;
}

.ToggleBtn {
  background-color: black;
  border: none;
  color: white;  
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
}

.Submitbtn {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  width: 50%;
  display: block;
  margin: auto;
}

.Form {
  padding: 10px;
}

.Form .form-control {
  padding: 5px 10px;
}

.whiteBg {
  background-color: white;
}

.border-radius-5 {
  border-radius: 5px;
}

.flex-box {
  display:flex;
  justify-content: flex-end;
}

.golden-border-l {
  border-left: 10px solid #ffc107;
}

.form-control {
  margin: 5px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  padding: 5px 10px;  
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
}

.star {
  visibility: hidden;
  font-size: 25px;
  cursor: pointer;
  color: #ffc107;
}

.star:before {
  content: "\2606";
  position: relative;
  top: -11px;
  left: -3px;
  visibility: visible;
}

.star:checked:before {
  content: "\2605";
  position: relative;
  top: -11px;
  left: -3px;
}

.box-shadow-s {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}